
.card:hover{
    opacity: 0.8;

}
h2:hover{
    color: blue;
    opacity: 0.8;
}
.enlace-footer:hover{
    opacity: 0.8;
}

body{
    background-color:beige;
    box-sizing: border-box;
}
footer{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-hero{
    width: 90%;
    height: 400px;
    padding: 0.5rem;
    border-radius: 12px;
}